* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: sans-serif;
}

.nav-logo img {
    width: 100px;
    height: 100px;
}

.nav-menu li {
    display: inline-flex;
    list-style: none;
    text-transform: capitalize;
    background-color: pink;
}

.nav-menu a {
    display: flex;
    margin: 0px 15px;
    letter-spacing: 3px;
    text-decoration: none;
}

.backdrop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.backdrop h1 {
    position: absolute;

}
